<h3>Edit the Beer: {{beer.title}}</h3>

<form action="/beers/{{beer._id}}/edit" method="post">
    <label> Title:
        <input type="text" name="title" value="{{beer.title}}" />
    </label>

    <label> Brewery:
         <div>
            <select name="brewery" id="brewery">
                {{#each info}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

    <label> Description:
        <textarea name="description" cols="30" rows="4">{{beer.description}}</textarea>
    </label>

    <label> Rating:
        <input type="number" name="rating" min="1" max="5" value="{{beer.rating}}" />
    </label>

    <label for="beerstyle">Choose a Beerstyle:</label>
        <div>
            <select name="beerstyle" id="beerstyle">
                {{#each beerstyle.enumValues}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>

    <button>Save changes</button>
</form>

<p><a href="/beers/{{beer._id}}">Back</a></p>