<div class="large-margin">
    <div class="large-divider"></div>

    <h3>Beer Details of {{beer.title}}</h3>
    <hr>
    <div class="row large-space">
        <div class="col s6">
            <img src="{{beer.image}}" alt="beer" class="responsive">
        </div>
        <div class="col s6">
            <p class="large-text">Brewery: {{beer.brewery.name}}</p>
            <details class="card amber1">
                <summary>Description</summary>
                <p>{{beer.description}}</p>
            </details>
            <p class="large-text">Rating: {{beer.rating}}/5</p>
            <p class="large-text">Style: {{beer.beerstyle}}</p>
            <hr>
            <button class="extend square round amber extra margin"
                onclick="location.href='/beers/beer-list'"><i>arrow_back</i><span>Back</span></a></button>
            <button class="extend square round amber extra margin"
                onclick="location.href='/beers/{{beer._id}}/edit'"><i>build</i><span>Edit</span></a></button>
            <form action="/beers/{{beer._id}}/delete" method="POST">
                {{#if userInSession}}
                <button class="extend square round red extra margin"
                    onclick="location.href='/beers/{{beer._id}}/delete'"><i>🗑️</i><span>Delete</span></a></button>
                {{/if}}
            </form>
        </div>
    </div>
</div>