<h1>Beer Details of {{beer.title}}</h1>
<hr>
<p>Brewery: {{beer.brewery.name}}</p>
<p>Description: {{beer.description}}</p>
<p>Rating: {{beer.rating}}/5</p>
<p>Style: {{beer.beerstyle}}</p>
<hr>
<p><a href="/beers/beer-list">Back</a> <span>|</span> <a href="/beers/{{beer._id}}/edit">Edit</a></p>
<form action="/beers/{{beer._id}}/delete" method="POST">
    <button>Delete</button></p>