<div class="large-margin">
    <div class="large-divider"></div>

    <h3>Edit the Beer: {{beer.title}}</h3>

    <form action="/beers/{{beer._id}}/edit" method="post">

        <p>
            <label> Title:
                <div class="field suffix fill border">
                    <input type="text" name="title" />
                </div>
            </label>
        </p>

        <p>
            <label> Alcohol by volume:
                <div class="field label border fill">
                    <input type="text" name="abv" />
                </div>
            </label>
        </p>

        <label> Brewery:
            <div class="field suffix fill border">
                <select name="brewery">
                    {{#each info}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </label>


        <p>
            <label> Description:
                <div class="field textarea label border fill">
                    <textarea name="description" cols="30" rows="4"> </textarea>
                </div>
            </label>
        </p>

        <p>
            <label> Image:
                <div class="field suffix label border fill">
                    <input type="text" name="image" />
            </label>
        </p>
        <p>
            <label>Beerstyle:
                <div class="field suffix fill border">
                    <select name="beerstyle" id="beerstyle">
                        {{#each beerstyle.enumValues}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </label>
        </p>


        <p>
            <label> Rate:
                <div class="field suffix fill border">
                    <input type="number" name="rating" min="1" max="5" />
                </div>
            </label>
        </p>

        <button class="extra amber" type="submit">
            <img src="../images/favicon.png" class="responsive">
            <span>Save Changes</span>
        </button>
    </form>

    <p><a href="/beers/{{beer._id}}">Back</a></p>