<div class="large-margin">
    <div class="large-divider"></div>

    <h3>Brewery in our DB <span> <button class="amber black-text large-margin" onclick="location.href='/brewery/brewery-create'">
        <span>Create New Brewery</span>
    </button></span></h3>

    <div class="row wrap small-space">
        {{#each brewery}}
        <div class="col s4">
            <article class="small round">
                <h5>{{this.name}}</h5>
                <hr>
                <br>
                <p>Country: {{this.country}}</p>
                <p>Website: <a href="{{this.website}}"> {{this.website}}</a></p>
                <button class="responsive" onclick="location.href='/brewery/{{_id}}'">
                    <span>Show Details</span>
                </button>
            </article>
        </div>
        {{/each}}

    </div>
</div>